<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <h3>Administration</h3>
              </div>
              <div class="text-center text-muted mb-4">
                <small>Connexion</small>
              </div>
              <form role="form">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-email-83"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Email"
                      type="email"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="ni ni-lock-circle-open"></i
                      ></span>
                    </div>
                    <input
                      class="form-control"
                      placeholder="Password"
                      type="password"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                </div>
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                >
                  <input
                    class="custom-control-input"
                    id=" customCheckLogin"
                    type="checkbox"
                  />
                  <label class="custom-control-label" for=" customCheckLogin">
                    <span>Se souvenir de moi</span>
                  </label>
                </div>
                <div class="text-center">
                  <button
                    type="button"
                    class="btn btn-primary my-4"
                    ng-click="login()"
                  >
                    Connexion
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <a href="javascript:void(0)" class="text-light">
                <small>Mot de passe oublié?</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">fjlzfj</a>
      </li>
      <li>
        <a routerLink="/home" routerLinkActive="active">Second Component</a>
      </li>
    </ul>
  </nav>
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        <a
          href="https://www.solutions-mobiles.com/"
          class="font-weight-bold ml-1"
          target="_blank"
          >Capri - Solutions Mobiles</a
        >
      </div>
    </div>
  </div>
</main>
