:host {
  background: #343a40;
}

#sidebar {
  min-width: 200px;
  max-width: 200px;
  min-height: 100vh;
  color: #fff;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

#sidebar.hidden {
  margin-left: -200px;
}

a[data-toggle="collapse"] {
  position: relative;
}

@media (max-width: 575px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.hidden {
    margin-left: 0;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul li a {
  padding: 15px;
  display: block;
  width: 100%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

hr {
  border-top: 1px solid #fff;
  margin-top: 0;
}
