<footer
  class="footer"
  [ngClass]="{
    'has-cards':
      getPath() !== '/user-profile' &&
      getPath() !== '/register' &&
      getPath() !== '/login'
  }"
>
  <div
    class="container container-lg"
    *ngIf="
      getPath() !== '/user-profile' &&
      getPath() !== '/register' &&
      getPath() !== '/login'
    "
  >
    <hr />
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-6">
        <div class="copyright">
          &copy; {{ test | date: "yyyy" }}
          <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank"
            >Creative Tim</a
          >.
        </div>
      </div>
      <div class="col-md-6">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a
              href="https://www.creative-tim.com?ref=adsa-footer"
              class="nav-link"
              target="_blank"
              >Creative Tim</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://www.creative-tim.com/presentation?ref=adsa-footer"
              class="nav-link"
              target="_blank"
              >About Us</a
            >
          </li>
          <li class="nav-item">
            <a
              href="http://blog.creative-tim.com?ref=adsa-footer"
              class="nav-link"
              target="_blank"
              >Blog</a
            >
          </li>
          <li class="nav-item">
            <a
              href="https://github.com/creativetimofficial/argon-design-system-angular/blob/master/LICENSE.md"
              class="nav-link"
              target="_blank"
              >MIT License</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
